<% provide(:title, 'Home') %>
<h1>Home Page</h1>
<% if !log_in? %>
    <%= link_to "Sign up Now!", new_user_path %> |
    <%= link_to "Log In Now!", login_path %>
<% else %>
    <%= link_to "Logout", logout_path, data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure"
    } %> | <%= link_to "Cart!", cart_items_path %>
<% end %>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% @products.each do |product| %>
            <tr>
                <td> <%= product.name %> </td>
                <td> <%= product.description %> </td>
                <td> <%= product.price %> </td>
                <td> 
                    <%= button_to "Add To Cart", cart_items_path, params: {  product: product, 
                                                                             name: product.name, 
                                                                             description: product.description 
                                                                             } %> 
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
