<tr id="userDetailsRow<%= user.id %>">
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.phone %></td>
    <td><%= user.role.name %></td>
    <td> <%= link_to 'Delete', user, method: :delete, remote: true, class: 'btn btn-danger' %> </td>
</tr>