<% provide(:title, 'Sign In') %>
<section class="vh-100" style="margin-top:20px">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <h1>Sign Up</h1>
        <%= form_with(model: @user, local:true) do |form| %>
          <div class="form-outline mb-2"> 
            <%= form.label :name, class: "form-label" %> 
            <%= form.text_field :name, class: "form-control" %>
            <p class="error_message"><%= @user.errors.full_messages_for(:name).join(', ') %></p>
          </div>
          <div class="form-outline mb-2"> 
            <%= form.label :email, class: "form-label" %> 
            <%= form.email_field :email, class: "form-control" %>
            <p class="error_message"><%= @user.errors.full_messages_for(:email).join(', ') %></p>
          </div>
          <div class="form-outline mb-2"> 
            <%= form.label :phone, class: "form-label" %> 
            <%= form.text_field :phone, class: "form-control" %>
            <p class="error_message"><%= @user.errors.full_messages_for(:phone).join(', ') %></p>
          </div>
          <div class="form-outline mb-2"> 
            <%= form.label :password, class: "form-label" %> 
            <%= form.password_field :password, class: "form-control" %>
            <p class="error_message"><%= @user.errors.full_messages_for(:password).join(', ') %></p>
          </div>
          <div class="form-outline mb-2"> 
            <%= form.label :password_confirmation, "Confirmation", class: "form-label" %> 
            <%= form.password_field :password_confirmation, class: "form-control" %>
            <p class="error_message"><%= @user.errors.full_messages_for(:password_confirmation).join(', ') %></p>
          </div>
          <div class="form-outline mb-2">
            <%= form.label "Are You A Seller?" %>
            <%= form.check_box :role_id, { checked: false }, 3, 1 %>
          </div>
          <div class="text-center text-lg-start mt-4 pt-2">
            <%= form.submit class:'btn btn-primary mt-3 btn-lg' , style: "padding-left: 2.5rem; padding-right: 2.5rem;"%>
            <p class="small fw-bold mt-2 pt-1 mb-0">Already a User<%= link_to "Log In", login_path %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>