<% provide(:title, 'Orders') %>

<h1 id="welcome">All Orders</h1>
<div class="card-container">
    <% @orders.each do |order| %>
        <div class="card" style="width:100%"> 
            <div class="card-header">
                Order Id - <%= order[:id] %>
            </div>
            <div class="card-body">
                <p> Invoice Number - <%= order[:invoice_number] %> </p>
                <p> Total Amount - <%= order[:total_amount] %> </p>
                <%= link_to "View Details", order_order_items_path(order[:id]), class: "btn btn-primary btn-sm" %>
            </div>
            <div class="card-footer text-muted">
                <p><%= time_ago_in_words(order[:created_at]) %> ago </p>
            </div>
        </div>
    <% end %>
</div>