<% provide(:title, 'Cart Item') %>
<h1>Cart Items Page</h1>

<% @all_cart_items.each do |all_cart_items| %>
    <div>
        <h3>Name - <%= all_cart_items[:product][:name] %></h3>
        <p> Price - <%= all_cart_items[:product][:price] * all_cart_items[:item][:quantity] %> </p>
        <p> Quantity -  <%= all_cart_items[:item][:quantity] %>  </p>
        <%= button_to "Add more", cart_item_url(all_cart_items[:item][:product_id]), method: :patch, params: {
            product_id: all_cart_items[:item][:product_id],
            cart_id: all_cart_items[:item][:cart_id],
            quantity: all_cart_items[:item][:quantity] + 1
        } %>  
        <%= button_to "Remove", cart_item_url(all_cart_items[:item][:product_id]), method: :patch, params: {
            product_id: all_cart_items[:item][:product_id],
            cart_id: all_cart_items[:item][:cart_id],
            quantity: all_cart_items[:item][:quantity] - 1
        } %> 
        <%= button_to "Delete", cart_item_url(all_cart_items[:item][:id]), method: :delete %>
    <div>
<% end %>

<h2>All Total <%= cart_total_money(@all_cart_items)  %> </h2>