<% provide(:title, 'Cart Item') %>
<h1>Cart Items Page</h1>
<%= link_to "Products", root_path %>
<% @all_cart_items.each do |all_cart_item| %>
    <div>
        <h3>Name - <%= all_cart_item["product_name"] %> </h3>
        <p> Price - <%= all_cart_item["product_price"] %>rs </p>
        <p> Quantity -  <%= all_cart_item["quantity"] %>  </p>
        <%= button_to "Add more", cart_item_url(all_cart_item["id"]), method: :patch, params: {
            product_id: all_cart_item["product_id"],
            cart_id: all_cart_item["cart_id"],
            quantity: all_cart_item["quantity"] + 1
        }   %>
        <%= button_to "Remove", cart_item_url(all_cart_item["id"]), method: :patch, params: {
            product_id: all_cart_item["product_id"],
            cart_id: all_cart_item["cart_id"],
            quantity: all_cart_item["quantity"] - 1
        } %> 
        <%= button_to "Delete", cart_item_url(all_cart_item["id"]), method: :delete %>
    <div>
<% end %>

<h2>All Total <%= cart_total_money(@all_cart_items)  %> </h2>

<%# <%= button_to "Checkout", checkout_url(@all_cart_items) %> %>
