<div id="<%= dom_id product %>" class="card" style="width:300px">
  <div class="card-body">
    <h1><%= product.name %></h1>
    <p class="price"><%= product.price %> Rs</p>
    <p><%= product.description %></p>
  </div>
  <div class="card-footer text-muted">
      <%= button_to "Add To Cart", cart_items_path, 
                  params: {  id: product,
                             product_id: product, 
                             name: product.name, 
                             description: product.description,
                             price: product.price
                          } %>
      <% if is_admin? %>
        <%= button_to "Delete", delete_product_path, method: :delete,params: { id: product.id }, class: 'btn btn-danger' %>
      <% end %>
  </div>
</div>
