<%= form_with(model: @product, local:false) do |form| %>
  <div class="modal-body">
    <div>
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>
    <div>
      <%= form.label :description %>
      <%= form.text_field :description, class: 'form-control' %>
    </div>
    <div>
      <%= form.label :price %>
      <%= form.text_field :price, class: 'form-control' %>
    </div>
    <div>
      <%= form.label :category %>
      <%= form.select(:categories_ids, @categories.collect {|cat| [ cat.name, cat.id ]}, {:prompt => "Please select"}, { :multiple => true, :size => 5 } ) %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close_btn">Close</button>
      <%= form.submit class: "btn btn-primary", remote: true %>
    </div>
  </div>
<% end %>