<tr id="productrow_<%= product.id %>">
    <td><%= product[:id] %></td>
    <td><%= product[:name] %></td>
    <td><%= product[:price] %></td>
    <td><%= product[:description] %></td>
    <td><%= product.category.name %></td>
    <td><%= button_to "Delete", product, method: :delete, remote: true %></td>
</tr>