<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
     <header>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "All Products", product_index_path %></li>
        <%= render "/layouts/cart", cart_items_path: cart_items_path, count: total_cart_items %>
        <li><%= link_to "Orders", orders_path %></li>
        <li style="float:right">
          <% if !log_in? %>
            <%= link_to "Sign up Now!", new_user_path %>
          <% else %>
            <%= link_to "Logout", logout_path, data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure"
            } %>
          <% end %>
        </li>
        <li style="float:right"> 
          <% if !log_in? %> 
            <%= link_to "Log In!", login_path %>
          <% end %>
        </li>
         <li style="float:right"> 
          <% if log_in? %> 
            <%= link_to "My Profile", user_path(current_user.id) %>
          <% end %>
        </li>
      </ul>
     </header> 
    <div id="flash">
      <%= render '/layouts/flash' %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
